.oneSpotContainer {
  max-width: 1000px;
}

.oneSpotPreviewImgDiv {
  width: 500px;
  height: 500px;
}

.oneSpotOtherImgs {
  width: 500px;
  height: 500px;
}

.notPreviewContainer {
  width: 250px;
}

.oneSpotInfo {
  grid-template-columns: 5fr 2fr;
}

.reserveBtn {
  width: 80%;
  height: 2.5rem;
  border-radius: 5px;
  background-color: rgb(233, 108, 62);
  color: white;
  font-weight: 600;
}
