/* TODO Add site wide styles */
.txt-center {
  text-align: center;
}



/*============ flex ================*/
.flx {
  display: flex;
}

.flx-center{
  display: flex;
  justify-content: center;
}

.flx-center-space {
  display: flex;
  justify-content: space-between;
}

/*============ font-size ================*/

.font15 {
  font-size: 1.5rem;
}

.font20 {
  font-size: 2rem;
}

.font25 {
  font-size: 2.5rem;
}

/*============ grid ================*/
.grid {
  display: grid;
}

.grid-50-50 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-75-25 {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

/*============ margin ================*/
.mrg-auto {
  margin: auto;
}

.mrg5 {
  margin: 5px;
}

.mrg10 {
  margin: 10px;
}

.mrg15 {
  margin: 15px;
}

.mrg-r-5 {
  margin-right: 5px;
}

.mrg-b-0 {
  margin-bottom: 0px;
}

.mrg-b-5 {
  margin-bottom: 5px;
}

.mrg-t-b-0 {
  margin: 0px auto;
}

.mrg-t-b-10 {
  margin: 10px auto;
}
/*============ width ================*/
.width100 {
  width: 100%;
}
