/* TODO Add site wide styles */
* {
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}


/*============ customer global className ================*/
.logo-font {
  font-family: 'Shadows Into Light', cursive;
}

.user-err {
  color: red;
}

.hidden {
  display: none;
}

#modal-content {
  border-radius: 10px;
}

/* #singleSpotOtherPreviewImgs > img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
} */


/*============ background-color ================*/
.bg-trans {
  background-color: transparent;
}

.bg-white {
  background-color: white;
}

.bg-wheat {
  background-color: wheat;
}

.bg-gray {
  background-color: gray;
}

.bg-DDDDDD {
  background-color: #DDDDDD;
}

.bg-lgcoral {
  background-color: lightcoral;
}

/*============ border ================*/
.bor-0p {
  border: 0px;
}

.bor-sol-lggray {
  border: 3px solid lightslategray;
}

.bor-1p-sol-gray {
  border: 1px solid gray;
}

/*============ border-radius ================*/
.bor-rad-5 {
  border-radius: 5px;
}

.bor-rad-10 {
  border-radius: 10px;
}

.bor-rad-15 {
  border-radius: 15px;
}

.bor-rad-20 {
  border-radius: 20px;
}

.bor-rad-50per {
  border-radius: 50%;
}

/*============ box-shadow ================*/
.boxShadow-0-1-5-1-gray {
  box-shadow: 0px 2px 5px 1px gray;
}

/*============ color ================*/
.color-white {
  color:white;
}

.color-lgcoral {
  color:lightcoral;
}

.cursor-pointer:hover{
  cursor: pointer;
}

/*============ display ================*/
.dis-block {
  display: block;
}

.dis-inl-block {
  display: inline-block;
}

.dis-none {
  display: none;
}

/*============ flex ================*/
.flx {
  display: flex;
}

.flx-center{
  display: flex;
  justify-content: center;
}

.flx-mid{
  display: flex;
  align-items: center;
}

.flx-center-space {
  display: flex;
  justify-content: space-between;
}

.flx-center-space-mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flx-col {
  display: flex;
  flex-direction: column;
}

.flx-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flx-col-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*============ font-size ================*/
.font115 {
  font-size: 1.15rem;
}

.font125 {
  font-size: 1.25rem;
}


.font15 {
  font-size: 1.5rem;
}

.font20 {
  font-size: 2rem;
}

.font25 {
  font-size: 2.5rem;
}

/*============ font-weight ================*/
.font-weight600 {
  font-weight: 600;
}

/*============ object-fit ================*/
.obj-fit-cover {
  object-fit: cover;
}

/*============ gap ================*/
.gap3p {
  gap: 3px;
}

.gap10p {
  gap: 10px;
}

.gap115rem {
  gap: 1.15rem;
}

/*============ grid ================*/
.grid {
  display: grid;
}

.grid-50-50 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-75-25 {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.grid-5-2 {
  display: grid;
  grid-template-columns: 5fr 2fr;
}

.grid-5-3 {
  display: grid;
  grid-template-columns: 5fr 3fr;
}

.grid-6-4 {
  display: grid;
  grid-template-columns: 6fr 4fr;
}

.grid-7-4 {
  display: grid;
  grid-template-columns: 7fr 4fr;
}

.grid-2x2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.grid-2x2-img{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "previewImg0 previewImg1"
  "previewImg2 previewImg3"
}

.previewImg0 {
  grid-area: previewImg0;
  width:200px;
  height: 145px;
}

.previewImg1 {
  grid-area: previewImg1;
  width:200px;
  height: 145px;
}

.previewImg2 {
  grid-area: previewImg2;
  width:200px;
  height: 145px;
}

.previewImg3 {
  grid-area: previewImg3;
  width:200px;
  height: 145px;
}

/*============ height ================*/

.height150p {
  height: 150px;
}

.height200p {
  height: 200px;
}

.height300p {
  height: 300px;
}

.height400p {
  height: 400px;
}

.height500p {
  height: 500px;
}

.height2rem {
  height: 2rem;
}

.height25rem {
  height: 2.5rem;
}

.height3rem {
  height: 3rem;
}

.height5rem {
  height: 5rem;
}

.height-fit {
  height: fit-content;
}

.height-max-100 {
  max-height: 100%;
}

.height-max-150p {
  max-height: 100px;
}

.height-max-200p {
  max-height: 200px;
}

/*============ list ================*/
.list-none {
  list-style: none;
}

/*============ margin ================*/
.mrg-auto {
  margin: auto;
}

.mrg5 {
  margin: 5px;
}

.mrg10 {
  margin: 10px;
}

.mrg15 {
  margin: 15px;
}

.mrg-r-5 {
  margin-right: 5px;
}

.mrg-r-15 {
  margin-right: 15px;
}

.mrg-b-0 {
  margin-bottom: 0px;
}

.mrg-b-5 {
  margin-bottom: 5px;
}

.mrg-t-5 {
  margin-top: 5px;
}

.mrg-t-15 {
  margin-top: 15px;
}

.mrg-t-b-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mrg-t-b-0 {
  margin: 0px auto;
}

.mrg-t-b-10 {
  margin: 10px auto;
}

.mrg-t-b-15 {
  margin: 15px auto;
}

.mrg-t-b-auto-r-15 {
  margin: auto 15px auto;
}
/*============ padding ================*/
.pad5 {
  padding: 5px;
}

.pad15 {
  padding: 15px;
}

.pad-t-10p {
  padding-top: 10px
}

.pad-l-r-3rem {
  padding-left: 3rem;
  padding-right: 3rem;
}

/*============ position ================*/
.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

/*============ right ================*/
.right0 {
  right: 0px;
}

.right10 {
  right: 10px;
}

/*============ text-align======*/
.txt-center {
  text-align: center;
}

/*============ text-decoration / underline ================*/
.txt-decor-none {
  text-decoration: none;
}
/*============ top ================*/
.top15 {
  top: 15px;
}

/*============ width ================*/
.width80 {
  width: 80%;
}

.width98 {
  width: 98%;
}

.width100 {
  width: 100%;
}

.width-content {
  width: fit-content;
}

.width300p {
  width: 300px
}

.width450p {
  width: 450px
}

.width500p {
  width: 500px
}

.width98vw {
  width: 98vw;
}

.width100vw {
  width: 100vw;
}

.width-max-150p {
  max-width: 150px;
}

.width-max-200p {
  max-width: 200px;
}

.width-max-250p {
  max-width: 250px;
}

.width-max-300p {
  max-width: 300px;
}

.width-max-1000 {
  max-width: 1000px;
}

/*============ z-index ================*/
.z-idx-99 {
  z-index: 99;
}
